.bitcoin-dada-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.logo-small {
  width: 120px;
  height: auto;
  max-height: 60px;
}

.logo-medium {
  width: 200px;
  height: auto;
  max-height: 100px;
}

.logo-large {
  width: 300px;
  height: auto;
  max-height: 150px;
}

@media (max-width: 768px) {
  .logo-small {
    width: 100px;
    max-height: 50px;
  }
  
  .logo-medium {
    width: 160px;
    max-height: 80px;
  }
  
  .logo-large {
    width: 240px;
    max-height: 120px;
  }
}

@media (max-width: 480px) {
  .logo-small {
    width: 80px;
    max-height: 40px;
  }
  
  .logo-medium {
    width: 140px;
    max-height: 70px;
  }
  
  .logo-large {
    width: 200px;
    max-height: 100px;
  }
}

